@model IEnumerable<TryWeb.Models.Aspects>

@{
    ViewBag.Title = "Список Произведений";
}

<h2>Ваш список</h2>

<p>
    @Html.ActionLink("Добавить Произведение", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWatched)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Name)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWatched)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Name }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Name }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Name })
        </td>
    </tr>
}

</table>
